<div *ngIf="assignment == null;then loading else loaded"></div>

  <ng-template #loading>
    <div class="assignment-detail-container">
      <mat-spinner/>
    </div>
  </ng-template>

  <ng-template #loaded>
    <div class="assignment-detail-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ assignment!.nom }}</mat-card-title>
          <mat-card-subtitle>{{ assignment!.dateDeRendu | date }}</mat-card-subtitle>
          <div class="prof">
            <img id="imageProf" [ngSrc]="assignment!.matiere.imageProf" [alt]="assignment!.matiere.prof" class="assignment-image" width="50" height="50"/>
            <mat-card-subtitle style="margin: 0 5px">{{ assignment!.matiere.prof }}</mat-card-subtitle>
          </div>
        </mat-card-header>
        <hr/>
        <mat-card-content>
          <img [ngSrc]="assignment!.matiere.imageMatiere" [alt]="assignment!.matiere.nom" class="assignment-image" width="150" height="100"/>

          <p *ngIf="assignment!.note" [ngClass]="getNoteStyle(assignment!.note)">{{ assignment!.note }} / 20</p>
          <p *ngIf="!assignment!.note">Pas encore noté</p>

          <mat-checkbox [checked]="assignment!.rendu" [disabled]="true" color="primary">Rendu</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

