.assignment-detail-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

hr{
  width: calc(100% - 20px);
  border: 1px solid #707070;
}

mat-card-content{
  width: 400px;
}

mat-card-actions > button{
  margin-left: 10px;
}


.assignment-form{
  display: flex;
  flex-direction: column;
}

textarea{
  max-height: 160px;
}
